django==1.9.9
django-import-export==0.5.1
itsdangerous==0.24
celery
https://github.com/darklow/django-suit/tarball/v2
MySQL-python
docker-py
supervisor
uwsgi
redis
dwebsocket
eventlet==0.19.0
pyyaml

