{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title"><b>批量执行</b></h4>
                <p class="text-muted m-b-30 font-13">
                    <strong>可选择以下minion或minion组进行批量命令执行</strong>
                </p>

                <div class="row">

                   <div class="col-md-8" >
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Minion组</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option>web</option>
                                            <option>mysql</option>
                                            <option>nginx</option>
                                            <option>db2</option>
                                            <option>test</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">目标主机</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control" placeholder="输入命标主机minion ID">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">CMD命令</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-6">
                                            <textarea required="" class="form-control" data-parsley-id="50"></textarea>
                                        </div>
                                    </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8 m-t-15">
                                    <button type="submit" class="btn btn-primary">
                                        确认
                                    </button>
                                    <button type="reset" class="btn btn-default m-l-5">
                                        重置
                                    </button>
                                </div>
							</div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

     <div class="row">
         <div class="col-sm-12">
            <p><b>实时命令结果输出:</b></p>

		 </div>
        <div class="col-md-12">
            <div class="card-box" id="result" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;background-color: #1c1c1c;height: 600px">

            </div>

        </div>
    </div>
</div>


{% endblock %}