{% extends 'base.html' %}

{% block content %}

<div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">SALT 管理</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'SaltMasterList' %}">SaltStack Master管理</a>
                    </li>

                    <li class="active">
                        SaltStack Master列表
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                        <div class="col-sm-12">
                           <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">添加Master</button>
                        </div>
                    </div>
                <br>
                <div class="card-box">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="m-t-0 header-title"><b>Master列表</b></h4>
                            <div class="p-20">
                                <table class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>url</th>
                                            <th>用户名</th>
                                            <th>角色</th>
                                            <td>操作</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for salt in SaltMasterData%}
                                        <tr>
                                            <th scope="row" data-id="{{salt.id}}">{{salt.id}}</th>
                                            <td>{{salt.url}}</td>
                                            <td>{{salt.username}}</td>
                                            <td>{{salt.role}}</td>
                                             <td>
                                                 <button  data-toggle="modal" data-target="#con-update-modal" class="btn btn-xs btn-info">修改</button>
                                                 <button  class="btn btn-xs btn-danger" >删除</button>
                                             </td>
                                        </tr>
                                        {% endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


 <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加Master</h4>
            </div>
            <form role="form" method="POST">
                {% csrf_token  %}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">URL</label>
                            {{SaltServerForms.url}}

                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">用户名</label>
                                {{SaltServerForms.username}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">密码</label>
                               {{SaltServerForms.password}}
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">角色</label>
                             {{SaltServerForms.role}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                <button type="submit"  class="btn btn-info waves-effect waves-light">添加</button>
            </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->


<div id="con-update-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改Master</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">URL</label>
                            <input type="text" class="form-control" id="field-3" placeholder="http://127.0.0.1">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">用户名</label>
                                <input type="text" class="form-control" id="field-1" placeholder="username">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">密码</label>
                                <input type="password" class="form-control" id="field-2" placeholder="password">
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">角色</label>
                            <input type="text" class="form-control" id="field-3" placeholder="Master">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info waves-effect ">添加</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->


<script>
    function SaltMasterAdd() {
        $.ajax({
            url: '/',

        })

    }


</script>


{% endblock%}