
<script src="/static/assets/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/static/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<!-- jQuery  -->
<script src="/static/assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
<script src="/static/assets/plugins/counterup/jquery.counterup.min.js"></script>
<script src="/static/assets/plugins/raphael/raphael-min.js"></script>
<script src="/static/assets/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/static/assets/pages/jquery.bs-table.js"></script>

<script src="/static/assets/plugins/notifyjs/dist/notify.min.js"></script>
<script src="/static/assets/plugins/notifications/notify-metro.js"></script>


<script src="/static/assets/js/jquery.core.js"></script>
<script src="/static/assets/js/jquery.app.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.counter').counterUp({
        delay: 100,
        time: 1200
    });

    $(".knob").knob();

});
</script>



