
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/statusecho.css" rel="stylesheet" type="text/css" />